body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  /* background-image: url("bg.png"); */
  background-color: rgba(71, 71, 71, 0.644);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  margin-top: 20px;
  background-color: #fff;
  padding: 40px 60px;
  border-radius: 10px;
  min-width: 300px;
  border: 2px solid red;
}

form h1 {
  /* color: #eb7371; */
  text-align: center;
  font-size: 2rem;
}

form h1::first-letter {
  color: red;
}

form svg {
  color: red;
}

form .inputs {
  display: flex;
  flex-direction: column;
}

form .inputs input[type="text"],
input[type="password"] {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  outline: none;
  margin-bottom: 15px;
}

form .co {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

form .co input[type="button"] {
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 15px;
  cursor: pointer;
}

form .co input[type="button"]:hover {
  color: red;
}


form .co input[type="submit"] {
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 15px;
  cursor: pointer;
}

form .co input[type="submit"]:hover {
  color: red;
}